.navbar {
  	height: 7%;
	width: 100%;
  	overflow:hidden;
	padding: 0;	
	font-size:2vw;
}
.navbar a,.dropdown,.dropbtn  {
  	display: inline-block;
  	color: white;
  	text-align: center;
	padding: 0px 14px 0px 14px;
  	text-decoration: none;
}
.dropbtn{
	border: none;
	height: 100%;
	font-family: "Times New Roman";
}
.navbar a{
	text-align: center;
	height: 100%;
	border-color: #777;
	border-width: 2.4vh 0px 0px 0px;
	border-style: solid;
}
.dropdown{
	height: 100%;
	margin: 0;
	padding: 0;
}
.navbar a,.dropbtn{
  	background-color: #777;
	font-size:2vh;	
}
body {
  	margin: 0;
  	padding: 0;
}
.tabelindex{
	height:93%;
	width:100%; 
}
.tabelindex td{
	background-color: #6e6e6e;
	width=95%;
}
body {
	background-color: #3f3f3f;
}
.tabelindexmic{
	
}
.tabelindexmic tr{
	color: #3f3f3f;
    background: #ffffff;
}
.tabelindexmic tr:nth-child(odd){
	color: #3f3f3f;
    background: #E6E4E4;
}
.tabelprod {
	border-color: 
	
}
.dropdown{
	padding: 0;
	
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}